= form_tag search_events_path, method: "get" do
  %form.navbar-form.pull-left
    .input-group{:style => "max-width:470px;"}
      %input#srch-term.form-control{:name => "search[name]", :placeholder => "Search Coupons", :type => "search[name]"}
        .input-group-btn
          %button.btn.btn-default.btn-primary{:type => "submit"}

            %i.glyphicon.glyphicon-search